.app__specialMenu {
    flex-direction: column;

    background: var(--color-black);
}

.app__specialMenu-title {
    margin-bottom: 2rem;

    text-align: center;
}

.app__specialMenu-menu {
    width: 100%;

    margin: 2rem 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

}

.app__specialMenu-menu-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;

    line-height: 58.5px;

    letter-spacing: 0.04em;
    
    color: var(--color-white);
}

.app__specialMenu-menu-wine, .app__specialMenu-menu-cocktails {
    width: 100%;
    
    flex: 1;
    flex-direction: column;
}

.app__specialMenu-menu-img {
    width: 410px;

    margin: 0 2rem;
}

.app__specialMenu-menu-img img {
    width: 100%;
    height: auto;
}

.app__specialMenu-menu-items {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin: 2rem 0;
}

@media screen and (max-width: 2000px) {
    .app__specialMenu-menu-img {
        width: 650px;
    }

    .app__specialMenu-menu-img img {
        height: 920px;
    }
}

@media screen and (max-width: 1150px) {
    .app__specialMenu-menu {
        width: 100%;

        flex-direction: column;
        align-items: center;
    }

    .app__specialMenu-menu-img {
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu-img {
        width: 100%;
    }

    .app__specialMenu-menu-heading {
        font-size: 35px;
        line-height: 48px;
    }


}